# =========================
# SERVER
# =========================

PORT=3000

# URL frontend GitHub Pages
FRONTEND_URL=https://bangpeegee.github.io

# URL backend setelah deploy Render
PUBLIC_API_URL=https://YOUR-APP.onrender.com


# =========================
# DATABASE
# =========================

DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE


# =========================
# JWT
# =========================

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET


# =========================
# TELEGRAM
# =========================

TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# ID group Telegram
# Contoh:
# -1001234567890
TELEGRAM_GROUP_ID=-1000000000000


# =========================
# TON
# =========================

TONCENTER_API_KEY=YOUR_TONCENTER_API_KEY

TON_NETWORK=-239

# TGram Jetton Master
TGR_JETTON_MASTER=EQDymqX9ZyAl_XRi_PefRsQkzwhirepe95ibUS_lB-9gc66z

TGR_DECIMALS=9

# Minimum HODL
MIN_HODL_TGR=10000


# =========================
# REWARDS
# =========================

CONNECT_WALLET_REWARD=1000

REFERRAL_REWARD=5000

# Mining rate internal
# 1 = 1 reward point per minute
MINING_TGR_PER_MINUTE=1

# Maximum mining session
MAX_MINING_HOURS=24


# =========================
# TON CONNECT
# =========================

# HARUS SAMA dengan domain Mini App
TON_CONNECT_DOMAIN=bangpeegee.github.io
